.mainContainer {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 64px;
}

.dataContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 600px;
}

.header {
  text-align: center;
  font-size: 32px;
  font-weight: 600;
}

.total {
  font-size: 16px;
  font-weight: 400;
  color: gray;
}

.bio {
  text-align: center;
  color: gray;
  margin-top: 16px;
}

.waveButton {
  background-image: linear-gradient(to right, #f6d365 0%, #fda085 100%);
  cursor: pointer;
  padding: 12px;
  border: 0;
  border-radius: 15px;
	min-width: 70px;
}

.waveButton:hover {
  background-position: right center; /* change the direction of the change here */
}